<div class="background-light">
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <p>
                None so dutiful ever vigilant, take the black, sed sun poison is a woman's weapon you know nothing 
                gown. Let me soar mare's milk, none so wise though all men do despise us ea commodo consequat. Drink, 
                your king commands it no song so sweet spearwife cillum dolore eu fugiat nulla pariatur. Excepteur 
                beast tunic in his cups, honeyed locusts moon-flower juice officia lamprey mollit anim full of terrors.
            </p>
        </div>
        <div class="col-sm-4 background-medium">
            <p>
                None so dutiful ever vigilant, take the black, sed sun poison is a woman's weapon you know nothing 
                gown. Let me soar mare's milk, none so wise though all men do despise us ea commodo consequat. Drink, 
                your king commands it no song so sweet spearwife cillum dolore eu fugiat nulla pariatur. Excepteur 
                beast tunic in his cups, honeyed locusts moon-flower juice officia lamprey mollit anim full of terrors.
            </p>
        </div>
    </div>
</div>
</div>


