
<div class="row roomy-row">
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/ocr.jpeg" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/rotherham-council-logo.gif" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="clearfix roomy-row visible-xs-block"></div>
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/source.png" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/ds.png" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
</div>

<div class="row roomy-row">
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/element.jpg" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/launchpad.png" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="clearfix roomy-row visible-xs-block"></div>
    <div class="col-xs-6 col-sm-3">
        <a href="http://www.andyhanselman.com" target="_blank">
        <img src="{{ "/img/clients/andy-hanselman.png" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="http://www.pepvend.com" target="_blank">
        <img src="{{ "/img/clients/pep.png" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
        </a>
    </div>
</div>

<div class="row roomy-row">
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/point925.png" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href-"http://reallyneet.co.uk" target="_blank">
        <img src="{{ "/img/clients/really-neet.jpg" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
        </a>
    </div>
    <div class="clearfix roomy-row visible-xs-block"></div>
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/cads.png" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/remember-the-date.png" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
</div>

<div class="row roomy-row">
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/sammi-sparke.png" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="http://www.silversmiths-restaurant.com" target="_blank">
        <img src="{{ "/img/clients/silversmiths.png" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
        </a>
    </div>
    <div class="clearfix roomy-row visible-xs-block"></div>
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/designed-2-eat-logo.png" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="col-xs-6 col-sm-3">
        <img src="{{ "/img/clients/translate-your-business.jpg" | prepend: site.baseurl }}" alt="" class="img-thumbnail img-responsive">
    </div>
</div>
