<div class="jumbo-header">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container brand-header">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MANTRA <small>hq</small></a>
            </div>
        </div>
    </nav>

    <div class="container light-text">
        <div class="intro-text">
            <div class="strapline">
                Bringing <em>meaning</em> to<br>your message.
            </div>
            <p class="text-center" style="margin-top:15px;">
            <a href="mailto:hello@mantrahq.com" class="btn btn-primary btn-lg" 
                style="color:black; font-family:'Alegreya SC', Georgia, 'Times New Roman', Times, serif;">Contact us now</a>
            </p>
        </div>
    </div>
</div>
