<div class="jumbo-header">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container brand-header">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MANTRA <small>hq</small></a>
            </div>
        </div>
    </nav>

    <div class="container light-text">
        <div class="intro-text">
            <div class="strapline">
                Bringing <em>meaning</em> to<br>your message.
            </div>
        </div>
    </div>
</div>
