<div class="container">
    <div class="row text-center">
        <div class="col-md-3 feature_grid1"> <i class="fa fa-search fa-3x"></i>
            <h3><a href="#">SEO</a></h3>
            <p>
                Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel 
                phasellus.
            </p>
            <a href="#" class="btn btn-default">More</a>
        </div>
        <div class="col-md-3 feature_grid1"> <i class="fa fa-graduation-cap fa-3x"></i>
            <h3><a href="#">Training</a></h3>
            <p>
                Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel 
                phasellus.
            </p>
            <a href="#" class="btn btn-default">More</a>
        </div>
        <div class="col-md-3 feature_grid1"> <i class="fa fa-comment fa-3x"></i>
            <h3><a href="#">Social Marketing</a></h3>
            <p>
                Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel 
                phasellus.
            </p>
            <a href="#" class="btn btn-default">More</a> </div>
        <div class="col-md-3 feature_grid2"> <i class="fa fa-line-chart fa-3x"></i>
            <h3><a href="#">Reporting</a></h3>
            <p>
                Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel 
                phasellus.
            </p>
            <a href="#" class="btn btn-default">More</a>
        </div>
    </div>
</div>
