<div class="container roomy-row">
    <div class="row text-center">
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-search fa-3x"></i>
            <h3>SEO</h3>
            <p>
                We deliver a highly comprehensive approach to SEO which includes onsite, offsite, keyword, social 
                signal and content analysis of your website.
            </p>
        </div>
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-graduation-cap fa-3x"></i>
            <h3>Training</h3>
            <p>
                Our holistic approach to online marketing enables us to provide a structure for delivery that is suited 
                to our customer’s needs.
            </p>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-comment fa-3x"></i>
            <h3>Social Media</h3>
            <p>
                Social Media is about interaction and for that to occur with the audience you desire, your content has 
                to be engaging.
            </p>
        </div>
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-rocket fa-3x"></i>
            <h3>PPC</h3>
            <p>
                Pay Per Click advertising is an instrumental method for reaching a very specific audience quickly and 
                effectively.
            </p>
        </div>
    </div>
</div>
