<div class="container roomy-row">
    <div class="row text-center">
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-search fa-3x"></i>
            <h3>SEO</h3>
            <p>
                We deliver a highly comprehensive approach to SEO which includes onsite, offsite, keyword,
                social signal and content analysis of your website.
            </p>
        </div>
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-graduation-cap fa-3x"></i>
            <h3>Training</h3>
            <p>
                Our holistic approach to online marketing enables us to provide a structure for delivery that
                is suited to our customer’s needs.
            </p>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-comment fa-3x"></i>
            <h3>Social Media</h3>
            <p>
                Social Media is about interaction and for that to occur with the audience you desire, your
                content has to be engaging.
            </p>
        </div>
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-rocket fa-3x"></i>
            <h3>PPC</h3>
            <p>
                Pay Per Click advertising is an instrumental method for reaching a very specific audience
                quickly and effectively.
            </p>
        </div>
    </div>


    <div class="row text-center">
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-pencil-square-o fa-3x"></i>
            <h3>Content</h3>
            <p>
                With a background in persuasive communication and forensic linguistics, we produce engaging content including website copy, blogging and social media copy.
            </p>
        </div>
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-th-list  fa-3x"></i>
            <h3>Web Design</h3>
            <p>
                Our web developers balance aesthetic integrity with intuitive user design. It's paramount for a website to become a compelling profit producing medium.
            </p>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-camera-retro fa-3x"></i>
            <h3>Photography</h3>
            <p>
                We offer a comprehensive range of photoshoot planning and delivery, including direction, photography, makeup, modelling and post-production editing.
            </p>
        </div>
        <div class="col-sm-6 col-md-3 service-col"> <i class="fa fa-registered fa-3x"></i>
            <h3>Branding</h3>
            <p>
                Identity becomes intrinsic. Let's get it right the first time. The sophisticated wow factor is everything in design.
            </p>
        </div>
    </div>
</div>
