body {
    background: black;
    color: white;
}

.jumbo-header {
    text-align: center;
    height: 100%;

    @media (min-width: 768px) {
        .intro-text {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    .navbar-inverse {
        background-color: transparent;
        border-color: transparent;
    }

    .strapline {
        font-size: 75px;
        font-family: $font-family-serif;
        font-style: italic;

        em {
            font-family: $font-family-serif;
            color: $yellow;
        }
    }
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: $font-family-serif;
    font-size: 46px;
    color: white;
    
    small {
        font-size: 50%;
    }
}

.brand-header {
    padding-top: 40px;
    padding-bottom: 15px;
}

.background-dark {
    background: black;
    color: white;
}

.background-light {
    background: white;
    color: $text-color
}

.background-medium {
    background: $gray-dark;
    color: white;
}

.social-list {
    font-size: 18px;
    a {
        color: white;
    }
}

