.carousel-content {
    display:flex;
    align-items:center;
}

.carousel-inner > .item {
    padding-bottom: 20px;
}

.carousel-indicators {
    bottom: 0;
}

.service-col {
    padding-top:15px;
    border-top: 5px solid $gray-lighter;
    transition: all 0.3s ease;

    &:hover {
        border-top: 5px solid $orange;
        color: #000;
    }
}
